@page
@model IndexModel

@{
    ViewData["Title"] = "Person";
}

<h1>Person</h1>

<form method="post">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>NationalCode</th>
            <th>FatherName</th>
            <th>Gender</th>
            <th><a asp-page="./Add">Add</a></th>
        </tr>
        @foreach (var item in Model.Persons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderTitle)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <button type="submit" asp-page-handler="delete" asp-route-id="@item.Id" class="btn btn-danger">delete</button>                     
                </td>
            </tr>
        }
    </table>
</form>
